@{
    ViewBag.Title = "Home Page";
}


<div class="homeContainer">
    <h1>What you can do in this application</h1>
    <h3>- <span class="textFocus">Post News</span> in the visitor application.</h3>
    <h3>- <span class="textFocus">Read News</span> that is posted in the visitor application</h3>
    <h3>- <span class="textFocus">Delete News</span> that has previously been posted</h3>
    <br />
    <h3>- <span class="textFocus">Post Events</span> in the visitor application</h3>
    <h3>- <span class="textFocus">Read Events</span> that is posted in the visitor application</h3>
    <h3>- <span class="textFocus">Delete Events</span> that has previously been posted</h3>
</div>

