
<nav class="navbar">
    <ul class="navListContainer">
        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navItem" })</li>
        <li>@Html.ActionLink("News", "Index", "News", null, new { @class = "navItem" })</li>
        <li>@Html.ActionLink("Events", "Index", "Events", null, new { @class = "navItem" })</li>
    </ul>
</nav>